@import "./light.scss";
@import "./dark.scss";

:root, .xrstyleauto, .xrstylelight, .xrstyledark {
  /** 主色 */
  --main: var(--blue);
  --main1: var(--blue1);
  --main2: var(--blue2);
  --main3: var(--blue3);
  --main4: var(--blue4);
  --main5: var(--blue5);
  --main6: var(--blue6);
  --main7: var(--blue7);
  --main8: var(--blue8);
  --main9: var(--blue9);
  --main10: var(--blue10);
}

:root, .xrstyleauto, .xrstylelight {
  @include lighttheme;
}

.xrstyledark {
  @include darktheme;
}

@media (prefers-color-scheme: dark) {
  :root, .xrstyleauto {
    @include darktheme;
  }
  .xrstylelight {
    @include lighttheme;
  }
}
