/** 升高透明度 */
@mixin transparents($name, $color) {
  --#{$name}: #{$color};
  --#{$name}1: #{transparentize($color, 0.2)};
  --#{$name}2: #{transparentize($color, 0.4)};
  --#{$name}3: #{transparentize($color, 0.6)};
  --#{$name}4: #{transparentize($color, 0.8)};
  --#{$name}5: #{transparentize($color, 0.9)};
}

@mixin light {
  /** 背景 */
  --back: #ffffff;
  --back1: #ededed;
  --back2: #dbdbdb;
  /** 灰色 */
  --gray: #8e8e93;
  --gray1: #aeaeb2;
  --gray2: #c7c7cc;
  /** 正调色 */
  @include transparents('alpha', #000);
  /** 中调色 */
  @include transparents('beta', #6c6c6c);
  /** 反调色 */
  @include transparents('gamma', #fff);
  /** 字体 */
  @include transparents('font', #333);
  /** 红色 */
  @include transparents('red', #ff3b30);
  /** 橙色 */
  @include transparents('orange', #ff9500);
  /** 黄色 */
  @include transparents('yellow', #ffcc00);
  /** 绿色 */
  @include transparents('green', #34c759);
  /** 青色 */
  @include transparents('cyan', #32ade6);
  /** 蓝色 */
  @include transparents('blue', #007aff);
  /** 紫色 */
  @include transparents('purple', #af52de);
  /** 粉色 */
  @include transparents('pink', #ff2d55);
  /** 棕色 */
  @include transparents('brown', #a2845e);
  /** 靛蓝色 */
  @include transparents('indigo', #5856d6);
  /** 薄荷色 */
  @include transparents('mint', #00c7be);
  /** 水蓝色 */
  @include transparents('teal', #30b0c7);
}

@mixin dark {
  /** 背景 */
  --back: #000000;
  --back1: #12151d;
  --back2: #24272f;
  /** 灰色 */
  --gray: #8e8e93;
  --gray1: #636366;
  --gray2: #48484a;
  /** 正调色 */
  @include transparents('alpha', #fff);
  /** 中调色 */
  @include transparents('beta', #949494);
  /** 反调色 */
  @include transparents('gamma', #000);
  /** 字体 */
  @include transparents('font', #ccc);
  /** 红色 */
  @include transparents('red', #ff453a);
  /** 橙色 */
  @include transparents('orange', #ff9f0a);
  /** 黄色 */
  @include transparents('yellow', #ffd60a);
  /** 绿色 */
  @include transparents('green', #30d158);
  /** 青色 */
  @include transparents('cyan', #64d2ff);
  /** 蓝色 */
  @include transparents('blue', #0ab4ff);
  /** 紫色 */
  @include transparents('purple', #bf5af2);
  /** 粉色 */
  @include transparents('pink', #ff375f);
  /** 棕色 */
  @include transparents('brown', #ac8e68);
  /** 靛蓝色 */
  @include transparents('indigo', #515ce6);
  /** 薄荷色 */
  @include transparents('mint', #63e6e2);
  /** 水蓝色 */
  @include transparents('teal', #40cbe0);
}

:root, .light, .dark {
  /** 阴影 */
  --shadow: rgba(0, 0, 0, 0.08);
  --shadow1: rgba(0, 0, 0, 0.16);
  --shadow2: rgba(0, 0, 0, 0.24);
  /** 主色 */
  --main: var(--blue);
  --main1: var(--blue1);
  --main2: var(--blue2);
  --main3: var(--blue3);
  --main4: var(--blue4);
  --main5: var(--blue5);
}

:root, .auto, .light {
  @include light;
}

.dark {
  @include dark;
}

@media (prefers-color-scheme: dark) {
  :root, .auto {
    @include dark;
  }
  .light {
    @include light;
  }
}
